#image{
    max-width: 100%;
}
.phone-configuration-title{
    font-weight: bold;
    margin-top: 10%;
}
.footer-up-hr-lain{
    margin-left: 10%;
    width: 80%;
    /* (10left*10right=total20+ width80= full webpage100) */
}

